/* Variables Styles: Start */
:root {
    --fontFamily1: "Playfair Display", serif;
    --fontFamily2: "Nunito Sans", sans-serif;

    --borderStyle: 2px solid #000;
}

/* Variables Styles: End */



/* Main */
/* Content: Start */

/* Hero: Start */
.content .hero {
    width: 100%;
    height: 100%;
}

.content .hero .hero-title .c-btn {
    border: 2px solid #2a2a2a;
}

.content .hero .hero-figure {
    width: 100%;
}

.content .hero .hero-figure img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border: var(--borderStyle);
}

/* Hero: End */



/* Desc Products: Start */
/* Desc Products: End */



/* List Products: Start */
.content .list-products .img-product {
    width: 100%;
    height: 100vh;
}

.content .list-products .img-product .img-item {
    display: none;
    border: var(--borderStyle);
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0%;
    left: 0%;
}

.content .list-products .img-product .open {
    display: block;
}

/* .content .list-products .desc-products .btn-control {
  
  } */

/* List Products: End */



/* Comment: Start */
.comment {
    width: auto;
}

.comment .d-flex:first-child {
    width: 150%;
}

.c-card {
    width: 450px;
    border-radius: 0;
    border: var(--borderStyle);
    margin-left: 45px;
    margin-right: 45px;
}

/* Comment: Start */



/* Email Newsletter: Start */
.email-newsletter {
    background: #f8b97f;
}

/* Email Newsletter: End */

/* Content: Start */