/* All section */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}
html{
    font-size: 60%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

/* bagian header*/
.header{
    top: 0;right: 0;left: 0;
    /* background-color: var(--white); */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.5rem 7%;
    z-index: 999;
}
.header .logoContent{
    display: flex;
    align-items: center;
}
.header .logoContent .logo img{
    margin-right: 0.5rem;
    height: 4rem;
}
.header .logoContent .logoName {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
}
.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
}
.header .navbar a:hover{
    border-bottom: .2rem solid var(--black);
    padding-bottom: .4rem;
}
.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
}

#menu-bar{
    display: none;
}

/* bagian home*/
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* <?= base_url("assets/img/hero.jpg"); ?> */
    background: url(img/background-banner.jpg) no-repeat;
    /* background: url(images/back.png) no-repeat; */
    background-size: cover;
    background-position: center 3rem;
}
.home .homeContent{
    width: 50%;
    float: left;
    text-align: center;
    padding: 4rem;
}
.home .homeContent h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}
.home .homeContent p{
    font-size: 2rem;
    line-height: 2;
    margin-bottom: 2rem;
}
.home .homeContent .home-btn{
    height: 3rem;
}
.home .homeContent .home-btn button{
    font-size: 2rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 1rem;
    padding: 1rem 2.4rem;
    cursor: pointer;
}
.home .homeContent .home-btn button:hover{
    font-size: 2rem;
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--black);
}

/* bagian produk */
.product .product-row{
    margin-bottom: 3.5rem;
    display: flex;
    align-items: center;
}
.product .product-row .box{
    display: flex;
    flex-direction: column;
    height: 50rem;
    width: 50rem;
    background-color: var(--white);
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    border-radius: 5rem;
    margin-right: 3rem;
    justify-content: space-between;
}
.product .product-row .img img{
    height: 16rem;
    width: 25rem;
    border-radius: 2rem;
}
.product .product-row .img img:hover{
    transform: scale(1.1);
}
.product .product-row .content {
    margin-bottom: 5rem;
}
.product .product-row .product-content h3{
    font-size: 3.5rem;
    color: var(--black);
}
.product .product-row .product-content p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--black);
}
.product .product-row .pricetag{
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.product .product-row .pricetag button{
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2rem;
    cursor: pointer;
}
.product .product-row .pricetag button:hover{
    font-size: 2rem;
}

/* bagian review */
.review .icon i{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.review .review-row{
    display: flex;
    flex-direction: column ;
    align-items: center;
    
}
.review .review-row .box{
    width: 50%; 
    margin-bottom: 10rem;
    padding: 3rem;
    border-radius: 3rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.review .review-row .box .client-review{
    margin-bottom: 3rem;
}
.review .review-row .box .client-review p{
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5;
}
.review .review-row .box .client-info{
    display: flex;
    align-items: center;
}
.review .review-row .box .client-info .img{
    padding-right: 3rem;
}
.review .review-row .box .client-info .img img{
    width: 7rem;
    height: 7rem;
    clip-path: circle(50% at 50% 50%);
}

.review .review-row .box .client-info .clientDetailed h3{
    font-size: 2.5rem;

}
.review .review-row .box .client-info .clientDetailed p{
    font-size: 1.5rem;
}

/* bagian komentar */
.comment{
    background: url(images/new.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.comment form{
    max-width: 45rem;
    text-align: center;
    padding: 5rem 0;
}
.comment form h3{
    font-size: 3rem;
    color: var(--white);
    padding-bottom: .7rem;
}
.comment form .box{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    color: var(--black);
    border-radius: .5rem;
}
.comment form .box2{
    width: 30%;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 3rem;
    padding: .5rem .5rem;
    color: var(--black);
    background: var(--white);
    border-radius: 3rem;
    cursor:pointer;
}
.comment form .box2:hover{
    color: var(--white);
    background-color: var(--black);
    outline: .1rem solid var(--white);
}

/* bagian hasil_comment */
.hasil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/test.jpg);
    background-size: cover;
    height: 75rem;
    width: 100%;
    padding: 7.3rem 5rem;    
    
}
.hasil .hasil-row .box{
    display: flex;
    flex-direction: column;
    height: 50rem;
    width: 50rem;
    background-color: var(--white);
    align-items: left;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    border-radius: 5rem;
    margin-top: 5rem;
    margin-right: 3rem;
    justify-content: space-between;
}
.hasil .hasil-row .hasil-content h3{
    margin-bottom: 2rem;
    font-size: 3.5rem;
    color: var(--black);
}
.hasil .hasil-row .hasil-content p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--black);
}
.hasil .hasil-row .hasil-content .p1{
    text-align: left;
    margin-top: 1rem;
    font-size: 2rem;
}
.hasil .hasil-row .tombol{
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.hasil .hasil-row .tombol button{
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2rem;
    cursor: pointer;
}
.hasil .hasil-row .tombol button:hover{
    font-size: 1.9rem;
    color: var(--black);
    background-color: chocolate;
    font-weight: bolder;
}

/* bagian footer */
.footer {
    background: url(images/backGround.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
}
.footer .box-container .mainBox .content{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.footer .box-container .mainBox .content h1{
    font-size: 2rem;
    color: var(--black);
}
.footer .box-container .mainBox p{
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--black);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}

.footer .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--black);
    margin: 0 .3rem;
}
.footer .share a:hover{
    border-radius: 50%;
    background: var(--white);
    color: var(--black);
}

.footer .credit{
    font-size: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--black);
    text-align: center;
    
}

/* css buat file about.html */
.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: justify;
    background: url(images/backshop1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 30px;
    flex-direction: column;
}
.about .about_us{
    color: #F0F0F0;
    width: 100%;
    float: left;
    text-align: center;
    padding: 4rem;
    margin: 0 auto;
    text-shadow: 5px 5px #000;
}
.about .about_us h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: #FFF;
    /* color: var(--black); */
    /* text-shadow: var(--box-shadow); */
}
.about .about_us p{
    font-size: 2rem;
    line-height: 2;
    margin-bottom: 2rem;
    text-align: justify;
}
.about  .home-btn{
    height: 3rem;
}
.about  .home-btn button{
    font-size: 2rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 1rem;
    padding: 1rem 2.4rem;
    cursor: pointer;
}
.about  .home-btn button:hover{
    font-size: 2rem;
}
.footer_plain {
    background: var(--white) no-repeat;
    background-size: cover;
    background-position: center center;
}
.footer_plain .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
}
.footer_plain .box-container .mainBox .content{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.footer_plain .box-container .mainBox .content h1{
    font-size: 2rem;
    color: var(--black);
}
.footer_plain .box-container .mainBox p{
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.footer_plain .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer_plain .box-container .box a{
    display: block;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer_plain .box-container .box a i{
    padding-right: .5rem;
    color: var(--black);
}
.footer_plain .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer_plain .share{
    padding: 1rem 0;
    text-align: center;
}
.footer_plain .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--black);
    margin: 0 .3rem;
    border-radius: 50%;
}
.footer_plain .share a:hover{
    background: var(--white);
    color: var(--black);
}
.footer_plain .credit{
    font-size: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--black);
    text-align: center;
}

/* css file buat kontak.html */
.kontak {
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: justify;
    background: url(images/back.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.kontak .kontak_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    float: left;
    text-align: center;
    padding: 4rem;
    margin-top: 40px;
    margin: 0 auto;
    justify-content: space-between;
}
.kontak h2{
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}
.kontak .form_kontak p{
    color: var(--black);
    font-size: 2rem;
    line-height: 2;
    margin-bottom: 2rem;
    text-align: center;
}
.kontak .form_kontak h1{
    margin-top: 5rem;
    font-size: 4rem;
}
.kontak .form_kontak .form1{
    font-size: 2rem;
    margin-bottom: 0rem;
}
.kontak  .home-btn{
    margin-top: 2rem;
    height: 2rem;
}
.kontak  .home-btn button{
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    margin-right: 1rem;
    border-radius: 2rem;
    padding: 1rem 2.4rem;
    cursor: pointer;
}
.kontak  .home-btn button:hover{
    color: chocolate;
    font-size: 1.8rem;
}
.kontak .form_kontak i{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--black);
}
.kontak .form_kontak .box a:hover i{
    padding-right: 2rem;
}
.kontak form{
    border-radius: 7rem;
    color: var(--black);
    font-size: 2rem;
    line-height: 20px;
    margin-bottom: 3rem;
    text-align: center;
    align-items: center;
}
.kontak .form_kontak .formulir{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: 0rem 2rem;
    width: 60%;
}
.kontak .form_kontak div input[type="text"] {
    text-align: center;
    font-size: 15px;
}
.kontak .form_kontak div input[type="email"] {
    text-align: center;
    font-size: 15px;
}
.kontak .form_kontak div textarea{
    text-align: center;
    font-size: 15px;
}


/* perintah media buat responsive */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
    .home .homeContent{
        margin-left: 0;
        width: 150%;
    }
}

@media (max-width:768px) {
    #menu-bar{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        height: 95vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }

    .home .homeContent{
        margin-left: 0;
        width: 90%;
    }
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }
}
